<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wmxkb.mapper.orderMapper">
    <insert id="addOrder" parameterType="com.wmxkb.entity.order_main">
        insert into order_main(orderTime, orderUserId , orderPrice) value(#{orderTime}, #{orderUserId}, #{orderPrice})
        <selectKey resultType="java.lang.Integer" keyProperty="orderNumber" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="addOrderItem">
        insert into order_item(orderNumber, orderGoods, orderCount, orderLocation, orderFloor) values(#{param1}, #{param2}, #{param3}, #{param4}, #{param5})
    </insert>

    <select id="getOrderMain" resultType="com.wmxkb.entity.order_main">
        select * from order_main where orderUserId = #{param1}
    </select>

    <select id="getOrderItemByNumber" resultType="map">

        SELECT order_item.orderGoods, commodity.commodityPrice , order_item.orderCount FROM order_item, commodity WHERE order_item.orderGoods = commodity.commodityName AND order_item.orderNumber = #{param1}
    </select>
<!--    select *-->
<!--    from  order_item-->
<!--    where orderNumber = #{param1}-->


</mapper>
